extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-8.text-center
        h1 Modificar impuestos y deducciones
        table.table.table-striped
          thead
            tr
              th Nombre
              th Porcentaje (%)
              th Última Actualización
              th Acciones
          tbody
            each impuesto in datos
              tr
                td= impuesto.nombre
                td= impuesto.porcentaje
                td= impuesto.ultimaActualizacion
                td
                  button.editarImpuestoBtn.btn.btn-primary.btn-sm(type="button" data-bs-toggle="modal" data-bs-target="#impuestoModal" onclick=`editarImpuesto('${impuesto.nombre}')`) Editar
                  button.btn.btn-danger.btn-sm(type="button" onclick=`borrarImpuesto('${impuesto.nombre}')`) Borrar
        button#agregarImpuestoBtn.btn.btn-success(type="button" data-bs-toggle="modal" data-bs-target="#impuestoModal") Agregar nuevo impuesto
        .modal.fade#impuestoModal(tabindex="-1")
          .modal-dialog.modal-dialog-centered.modal-lg
            .modal-content
              .modal-header
                h5.modal-title#impuestoModalLabel Impuesto
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                form(id="impuestoForm")
                  .mb-3.row
                    .col-md-6
                      label(for="nombre" class="form-label") Nombre
                      input(type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del impuesto", required)
                    .col-md-6
                      label(for="porcentaje" class="form-label") Porcentaje
                      input(type="number" class="form-control" id="porcentaje" name="porcentaje" placeholder="Porcentaje del impuesto", required)

              .modal-footer
                button#guardarImpuestoBtn.btn.btn-primary(type="button" onclick="guardarImpuesto()") Guardar
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
  .toast-container.position-fixed.bottom-0.end-0.p-3
    #liveToast.toast(role="alert" aria-live="assertive" aria-atomic="true")
      .toast-header
        strong.me-auto Equipo 7
        small Justo ahora
        button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
      .toast-body
        | Ha ocurrido un error al procesar sus campos, por favor verifique que los datos sean correctos.
    script.
      const datos = !{JSON.stringify(datos)};
      //console.log(datos);
      function errorMsg(msg){
        const options = {
          animation: true,
          autohide: true,
          delay: 3000 
        };
        const toastLiveExample = document.getElementById('liveToast');
        const toastBootstrap = new bootstrap.Toast(toastLiveExample, options);
        toastBootstrap.show();
      };
      let state = null;
      const editarImpuesto = (nombre) => {
        state = "editar";
        //console.log("Editar impuesto modal");
        document.querySelector('#nombre').readOnly = true;
        impuestoModalLabel.textContent = "Editar impuesto";
        const impuesto = datos.find(imp => imp.nombre === nombre);
        if (impuesto) {
          document.getElementById("nombre").value = impuesto.nombre;
          document.getElementById("porcentaje").value = impuesto.porcentaje;
        }
      };
      const borrarImpuesto = (nombre) => {

        const impuesto = datos.find(imp => imp.nombre === nombre);
        if (impuesto) {
          fetch("/borrarImpuesto", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(impuesto)
            })
            .then(data => {
              //console.log(data);
            })
            .catch(error => {
              errorMsg(error);
            }).finally(() => {
              location.reload();
            });
        }
      };
      const guardarImpuesto = () => {
        const impuesto = {
          nombre: document.getElementById("nombre").value,
          porcentaje: parseFloat(document.getElementById("porcentaje").value)
        }
        try {
          if (impuesto.nombre === "" || impuesto.porcentaje === "" || isNaN(impuesto.porcentaje) || impuesto.porcentaje < 0 || impuesto.porcentaje > 100) {
            throw new Error("Error en los datos");
          }
        //console.log(state);
          if (state === "agregar") {

            fetch("/agregarImpuesto", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(impuesto)
              })
              .then(data => {
                //console.log(data);
              })
              .catch(error => {
                errorMsg(error);
              }).finally(() => {
                location.reload();
              });
          } else if (state === "editar") {
            fetch("/actualizarImpuesto", {
              method: "PUT",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(impuesto)
              })
              .then(data => {
                //console.log(data);
              })
              .catch(error => {
                errorMsg(error);
              }).finally(() => {
                location.reload();
              });
          }

        } catch (error) {
          errorMsg(error);
        }

      };
      
      let userModal = document.getElementById("impuestoModal");
      let impuestoForm = document.getElementById("impuestoForm");
      const modalInputs = impuestoForm.querySelectorAll("input");
      userModal.addEventListener("hidden.bs.modal", () => {
        modalInputs.forEach((input) => {
          input.value = "";
        });
      });
      agregarImpuestoBtn.addEventListener("click", () => {
        state = "agregar";
        //console.log("Agregar impuesto modal");
        modalInputs.forEach((input) => {
          input.value = "";
        });
        document.querySelector('#nombre').readOnly = false;
        impuestoModalLabel.textContent = "Agregar impuesto";

      });